#map {
    height: 100%;
}
.hamburger {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: .3em;
    z-index: 0;
}
.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 7px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transition: 0.5s;
}
.nav.open {
    width: 40%;
}
.nav.close {
    width: 0;
}
.nav-title {
    padding-left: 1em;
    font-size: 2em;
    font-weight: normal;
}
.nav-title span {
    font-size: 1em;
    font-weight: bold;
}
.nav-subtitle {
    padding-left: 2em;
}
.nav-content {
    overflow-y: auto;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.9);
    padding: 20px;
    color: black;
    margin: 1em;
}
.nav .closebtn {
    position: absolute;
    right: 5px;
    font-size: 3em;
    z-index: 1;
    text-decoration: none;
    color: white;
}
/*user input section*/

#area-text{
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#userarea {
    width: 80%;
    padding: 12px 20px;
    margin: auto;
    float: left;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#zoom-to-area {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    font-size: 1em;
    font-weight: bold;
}
li {
    border-radius: 4px;
    border: 0.25px solid #000;
    background-color:  white;
    margin-bottom: 0.25em;
    text-align: center;
    padding: 5px;
}
.multiple select{
    float: right;
    padding: 0;
}
.column {
    float: left;
    margin: 0 20px 0 0;
}
.wikinames span {
    display: block;
    width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.links li {
    background-color: rgba(0, 0, 0, 0.9);
}
.links a {
    text-decoration: none;
    color: white;
}
/*marker link*/

#markerinfo {
    font-weight: bold;
    padding: 14px 0px;
    margin: 8px 0;
    text-align: center;
}
.markerNames span {
    display: block;
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 15px;
    margin: auto;
}
#mark {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin-left: 0.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.markerlinks button {
    background-color: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
}
/*infowindow*/

.infowindow {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(0, 0, 0);
    text-align: center;
}
.info {
    overflow-y: auto;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.9);
    padding: 10px;
    color: black;
    margin: 1em;
}
.infowindow p {
    max-width: 10ch;
    margin: auto;
}
.emergency{
    background-color: #f44336;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
@media only screen and (max-width: 1100px) {
    .nav.open {
        width: 100%;
    }
}
@media only screen and (max-width: 550px) {
    ul,
    li {
        font-size: 0.75em;
    }
    .wikititle {
        font-size: 1em;
    }
    .markerlinks button {
        padding: 0 0;
    }
    .nav-title {
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: normal;
    }
    .nav-subtitle {
        padding-left: 0.75em;
    }
}

/*Sudhi*/



.hamburgerRight {
    position: absolute;
    top: 67px;
    left: 15px;
    font-size: 1em;
    cursor: pointer;
    margin-right: .3em;
    z-index: 0;
}

.checked {
    color: orange;
}
.button1 {
    background-color: #4CAF50;
    } /* Green */

.shadow {

    box-shadow: 6px 10px 51px #000;
}
/*Ends */